{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="notifications">
      {% for notification in notifications %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ notification.text }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="location.href='{% url 'connectedapp:notification_mark_as_read' notification.id %}'"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <!-- Hero section -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to ConnectEd!</h1>
      <p class="col-md-8 fs-4">ConnectEd offers a premier platform for universities to present their courses, facilitating collaboration and knowledge sharing. We empower universities, students, and educators in the pursuit of excellence in education.</p>
      <button class="btn btn-primary btn-lg" type="button">Learn more</button>
    </div>
  </div>

  <!-- Additional content -->
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Courses</h2>
        <p>See the list of available courses and enroll in the ones that interest you.</p>
        <a href="{% url 'connectedapp:course_list' %}" class="btn btn-outline-light" type="button">View Courses</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Testimonials</h2>
        <p>See what our students and educators have to say about ConnectEd.</p>
        <a href="#" class="btn btn-outline-secondary" type="button">View Testimonials</a>
      </div>
    </div>
  </div>
{% endblock %}
